.title_cards{
    margin-top: 50px;
    margin-bottom: 30px;  
}

.title_cards h2{
    margin-bottom: 8px;
}

.card_list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;

}

.card_list::-webkit-scrollbar{
    display: none;
    
}

.card_list img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
    
}

.removeline{
   text-align: center;
   color: #fff;
    text-decoration: none;
}

@media (max-width: 800px) {
    .title_cards h2{
        margin-top: 20px;
        margin-bottom: 0;
    }    
    .card_list img{
        width: 165px;
    }
    .card_list p{
        font-size: 12px
    }
}